:root{
    --main: ;
    --tag:#342b71;
    --button: #342b71; 
--card-bg: #1e1d1f9d;

}
*{
    
    transition: 0.2s;
}
*::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
a{display: block;
    color: white;
    text-decoration: none;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.centerY{
    margin-top: 20%;
    margin-bottom: 20%;
}
.center-icons{
    padding: 2px;
}
.bi{
    font-size: 1.5rem;
    text-align: center;
    
}
a:hover{
    color: white;
}
body{
    color: white;
   
    background: linear-gradient(40deg, rgb(60, 60, 60) 0%, rgb(4, 1, 32) 100%);
    background-size:100%;
height: 100%;
min-height: 1000px;
   
    background-repeat: no-repeat;
}
.img-thumb{
width: 31.25rem;
height: 6.938rem;
margin-top: 0.50rem;
margin-bottom: 0.50rem;
border-radius: 1.75rem;
-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.6); 
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.6);
}
.bg-image{
   
    z-index: -1;
    position: fixed;    
    opacity: 0.3;
    
}
.navbar{
    backdrop-filter: blur(25px);
}
.img-thumb:hover{
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6); 
box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6);
transform: scale(1.01);

}
.img-big{
width: 900px;
height: 365px;
border-radius: 1.75rem;
margin-top: 0.50rem;
margin-bottom: 0.50rem;
-webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6); 
box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6);


}
.tag-list{
    
    background-color: #232323;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 2rem;
    border-radius: 1.75rem;
    -webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    
    max-height: 70px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    overflow-x: visible;
    overflow-y: hidden;
}

      
.top-seller{
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding: 1rem;
    border-radius: 1.75rem;

}
.label{
    color: white;
}
.top-seller-tag{
    margin: 0;
    margin-left: 0.3rem;
    color: white;
    padding-left: 0.40rem;
    padding-right: 0.40rem;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    background-color:var(--tag) ;
    width:max-content;
    border-radius: 0.80rem;
    display: inline-block;
}
.bg{
    background-color: var(--card-bg);
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6);
}
.button{
    
    border: none;
    color: white;
    background-color: var(--button);
    border-radius: 0.80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    
}
.button:hover{
    color: white;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6); 
box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6);
transform: scale(1.02);

}
.idk{
    width: 530px;
  
}
.btn-del{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.3em;
    border: none;
    color: white;
    background-color: var(--button);
    border-radius: 0.80rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    z-index: 1;
}
.card-img{
    border-radius: 0.80rem;
    -webkit-box-shadow: 0px 10px 11px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 11px -8px rgba(0,0,0,0.75);
box-shadow: 0px 10px 11px -8px rgba(0,0,0,0.75);
height: 9.014rem;
width: 16.028rem;
}
.game-list{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.games-page{
    width: 75%;
  
}
.games-page-img{
    width: 100%;
    
    
    border-radius: 1.75rem;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.6);
}
.form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
