:root {
  --main: ;
  --tag: #342b71;
  --button: #342b71;
  --card-bg: #1e1d1f9d;
}
* {
  transition: 0.2s;
}
*::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
a {
  display: block;
  color: white;
  text-decoration: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.login-btn{
  float: right;
    display: inline;
 }
.centerY {
  margin-top: 20%;
  margin-bottom: 20%;
}
.center-icons {
  padding: 2px;
}
.bi {
  font-size: 1.5rem;
  text-align: center;
}
a:hover {
  color: white;
}
body {
  color: white;

  background: linear-gradient(40deg, rgb(60, 60, 60) 0%, rgb(4, 1, 32) 100%);
  background-size: 100%;
  height: 100%;
  min-height: 1000px;

  background-repeat: no-repeat;
}
.navitems{
 transform: translate(-120px, 35px);

 
}
.img-thumb {
 width: 31.25rem;
  height: 6.938rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1.75rem;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.6);
  aspect-ratio: 5/1;
  object-fit: cover;
}
.bg-image {
  z-index: -1;
  position: fixed;
  opacity: 0.3;
}
.navbar {
  backdrop-filter: blur(25px);
}
.img-thumb:hover {
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  transform: scale(1.01);
}
.img-big-game-desc{
  max-height: 200px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}
.carousel-inner-img {
  /* padding-left: 30px; */
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 1.75rem;
}
.img-big {
  max-width: 900px;
  max-height: 365px;
  border-radius: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  aspect-ratio: 21/9;
}
.tag-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #232323;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 2rem;
  border-radius: 1.75rem;
  -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  height: 70px;
  width: 200px;
  max-height: 70px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.tag-list-item {
  flex: 0 0 auto;
}

.top-seller {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding: 1rem;
  border-radius: 1.75rem;
}
.label {
  color: white;
}
.top-seller-tag {
  margin: 0;
  margin-left: 0.3rem;
  color: white;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: var(--tag);
  width: max-content;
  border-radius: 0.8rem;
  display: inline-block;
}
.tag-list-tag{
  margin: 0;
  font-size: 1.3rem;
  margin-left: 0.3rem;
  color: white;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: var(--tag);
  width: max-content;
  border-radius: 0.8rem;
  display: inline-block;
}
.bg {
  background-color: var(--card-bg);
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
}
.move-nav-bg{
  height: 100px;
}
.button {
  border: none;
  color: white;
  background-color: var(--button);
  border-radius: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.button:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}
.idk {
  width: 530px;
}
.btn-del {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 1.3em;
  border: none;
  color: white;
  background-color: var(--button);
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  z-index: 1;
}
.warning {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 1.3em;
  border: none;
  color: white;
  background-color: red;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  z-index: 1;
}
.card-img {
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 10px 11px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 11px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px -8px rgba(0, 0, 0, 0.75);
  aspect-ratio: 16/9;
  object-fit: cover;
}
.game-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.games-page {
  width: 75%;
}
.games-page-img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;

  border-radius: 1.75rem;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.6);
}
.form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

